@charset "utf-8";

/* タイトル全体 */
.main-title-inner {
  height: calc(100vh - 110px);
  background-image: url(../images/discography/discography_view.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

/* タイトル要素 */
.main-title-text {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 240px;
  font-weight: bold;
  text-shadow: 1px 1px 10px #4b2c14;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

/* CD、配信共通要素 */
article {
  max-width: 1200px;
  background-color: #1a1717;
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 20px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

hr {
  border-width: 1px;
  border-style: dashed;
  border-color: #c0c0c0;
  margin: 20px 0;
}

.work-content {
  display: flex;
}

/* 左ブロック要素 */
.work-left {
  width: 30%;
}

.work-content-img {
  margin-top: 10px;
}

/* 右ブロック要素 */
.work-right {
  width: 70%;
  padding-left: 30px;
}

.work-content-title {
  font-size: 24px;
  line-height: 40px;
}

.work-content-date {
  font-size: 12px;
  line-height: 20px;
}

.work-content-body {
  margin-top: 10px;
  line-height: 20px;
}

.work-distributor-link img {
  margin: 20px 20px 0 0;
  width: 180px;
}

@media (max-width: 800px) {
  /* タイトル全体 */
  .main-title-inner {
    height: calc(100vh - 60px);
    background-image: url(../images/discography/discography_view_m.jpg);
    background-position: center;
    align-items: flex-end;
  }
  
  /* タイトル要素 */
  .main-title-text{
    text-align: center;
    font-size: 28px;
  }
  
  /* News要素　縦並びに変更 */
  .work-content {
    flex-direction: column; 
  }
  
  .work-left {
    width: 100%;
  }

  .work-right {
    width: 100%;
    padding-left: 0px;
  }
  
  .work-distributor-link img {
    margin: 20px 0 0;
  }
}